<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1060099751666-8t1mij20uhitfu1k6ov54ds1csnrd6bf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1060099751666-8t1mij20uhitfu1k6ov54ds1csnrd6bf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1060099751666-70bp8t5fem0en6a556jspcq5lpmvbi97.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfJE93nm6JpeCsu1GuKgCLYBhzvm97gS4</string>
	<key>GCM_SENDER_ID</key>
	<string>1060099751666</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.it-seekers.bits</string>
	<key>PROJECT_ID</key>
	<string>itseekers-1582214344227</string>
	<key>STORAGE_BUCKET</key>
	<string>itseekers-1582214344227.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1060099751666:ios:7a400744b9cb7095629a6b</string>
	<key>DATABASE_URL</key>
	<string>https://itseekers-1582214344227.firebaseio.com</string>
</dict>
</plist>